.title {
    font-size: 40pt;
    color: magenta;
}
.blog1 h1{
  color: red;
}
.blog1 p {
    color: blueviolet;
}
.blog2 h1{
    background-color: ;
  }
.blog1 p {
    color: blueviolet;
}

.about-me{
  color: black;
}